<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body  style="background-color: rgba(140,250,255,.4);
background-image: url(static/first-aid-kit.png);">

<div class="container-fluid">
	<div class="row">
		{% include "nav_bar.html" with context %}
		<div class="jumbotron" style="background-color: rgba(120,230,250,.3);>
			<h2 style="margin-top:50px;">
			<font face="Palatino" style="color: rgba(90, 90, 90, 1);">
				Welcome to DermaGram!
			</font>
			</h2>
			<p>
				DermaGram was built to assist Dermatologists in identifying skin lesions. The application
				enables you to create a profile, upload an image, and analzye the image using an
				image-recognition classifier. NOTE: ADD MORE INFO
			</p>
		</div>
	</div>
	<div class="row"  style="margin-top:20px;">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://imgur.com/SNrig9G.jpg" class="img-circle" />
			<dl>
				<dt>
					Name:
				</dt>
				<dd>
					Andrew
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src=""static/icon.jpg" class="img-circle" width="250" height="300" />
			<dl style="margin-top: 25px;">
				<dt>
					Name:
				</dt>
				<dd>
					Shondell
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Statistical Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://i.imgur.com/xFg7zYu.jpg?6" class="img-circle" />
			<dl style="margin-top: 25px;">
				<dt>
					Name:
				</dt>
				<dd>
					Steven
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Software Development, Image Recognition, Cyber Security, Digital Design
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://i.imgur.com/1cXDeXR.jpg" class="img-circle" />
			<dl>
				<dt>
					Name:
				</dt>
				<dd>
					Jaspal
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
	</div>
</div>


</body>
</html>
