<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
	<div class="row">
		{% include "nav_bar.html" with context %}
		<div class="jumbotron">
			<h2>
				Welcome to DermaGram!
			</h2>
			<p>
				DermaGram was built to assist Dermatologists in identifying skin lesions. The application
				enables you to create a profile, upload an image, and analzye the image using an
				image-recognition classifier. NOTE: ADD MORE INFO
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://i.imgur.com/Zyv8Daj.jpg" class="img-circle" />
			<dl>
				<dt>
					Name:
				</dt>
				<dd>
					Andrew
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://i.imgur.com/WfbtvAb.jpg" class="img-circle" />
			<dl>
				<dt>
					Name:
				</dt>
				<dd>
					Shondell
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://i.imgur.com/zrxq7h9.jpg" class="img-circle" />
			<dl>
				<dt>
					Name:
				</dt>
				<dd>
					Steven
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://i.imgur.com/1cXDeXR.jpg" class="img-circle" />
			<dl>
				<dt>
					Name:
				</dt>
				<dd>
					Jaspal
				</dd>
				<dt>
					School
				</dt>
				<dd>
					City University of New York - Hunter College
				</dd>
				<dt>
					Major
				</dt>
				<dd>
					Computer Science
				</dd>
				<dt>
					Interests
				</dt>
				<dd>
					Image Recognition, Natural Language Processing, Machine Learning, Convolutional Neural Networks
				</dd>
			</dl>
		</div>
	</div>
</div>


</body>
</html>