<div class="carousel slide" id="carousel" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for i in range( image_carousel | length )  %}
            {% if i == 0 %}
                <li class="active" data-slide-to="i" data-target="#carousel">
                </li>
            {% else %}
                <li data-slide-to="i" data-target="#carousel">
            {% endif %}
        {% endfor %}
     </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for image in image_carousel %}
            {% if loop.first %}
                <div class="item active"><img src={{ image }}>
                    <div class="carousel-caption"></div>
                </div>
            {% else %}
                <div class="item"><img src={{ image }}>
                    <div class="carousel-caption"></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Left Control -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>