<!DOCTYPE html>
<html>
    <head>
        <title>Dermagram</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">DermaGram</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href=" {{ url_for('login') }}">Home</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
  	<a href=" {{ url_for('logout') }}">Logout</a>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
