<div class="col-md-12">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button><a class="navbar-brand" href="/home"><font color='blue' face='Frosty' size='5'>Dermagram Diagnostics</font></a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="active">
					<a href="/login">Login</a>
				</li>
				<li>
					<a href="/register">Sign Up</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</div>

	</nav>
</div>
