<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <! -- (smitsky): The line below connects to my scripts -->
    <script src="/static/connect31.js"></script>
</head>
<body>

<div class="container-fluid">
    <!-- NAV BAR -->
    <div class="row">
        {% include "nav_bar.html" with context %}
    </div>

    <!-- FIRST ROW -->
	<div class="row">
		<!-- LEFT COLUMN -->
		<div class="col-md-6">
			{% include "upload.html" with context %}
		</div>
		<!-- RIGHT COLUMN -->
		<div class="col-md-6">
			<img class="img-responsive center-block" src="https://imgur.com/3sacjQ6.jpg">
		</div>
	</div>
    <!-- END FIRST ROW -->

	<br>
         

    <!-- SECOND ROW --->
	<div class="row">
		<!-- LEFT COLUMN -->
		<div class="col-md-6">
			{% include "image_table.html" with context %}
		</div>
		<!-- RIGHT COLUMN -->
		<div class="col-md-6">
            {% include "image_carousel.html" with context %}
		</div>
	</div>
    <!-- END SECOND ROW -->
</div>

</body>
</html>
