<select name="inputLocation" class="form-control" id="inputLocation" required>
    <option value="" selected disabled hidden>Select One</option>
    <optgroup label="--Face--">
        <option value="Neck">Neck</option>
        <option value="Left Ear">Left Ear</option>
        <option value="Right Ear">Right Ear</option>
        <option value="Nose">Nose</option>
        <option value="Forehead">Forehead</option>
        <option vlaue="Cheeks/Chin">Cheeks/Chin</option>
        <option value="Scalp">Scalp</option>
    </optgroup>
    <optgroup label="--Upper Body--">
        <option value="Torso">Torso</option>
        <option value="Chest">Chest</option>
        <option value="Lower Back">Lower Back</option>
        <option value="Upper Back">Upper Back</option>
        <option value="Left Hand">Left Hand</option>
        <option value="Left Lower Arm">Left Lower Arm</option>
        <option value="Left Upper Arm">Left Upper Arm</option>
        <option value="Right Hand">Right Hand</option>
        <option value="Right Lower Arm">Right Lower Arm</option>
        <option value="Right Upper Arm">Right Upper Arm</option>
    </optgroup>
    <optgroup label="--Lower Body--">
        <option value="Left Foot">Left Foot</option>
        <option value="Left Lower Leg">Left Lower Leg</option>
        <option value="Left Upper Leg">Left Upper Leg</option>
        <option value="Left Buttocks">Left Buttocks</option>
        <option value="Right Foot">Right Foot</option>
        <option value="Right Lower Leg">Right Lower Leg</option>
        <option value="Right Upper Leg">Right Upper Leg</option>
        <option value="Right Buttocks">Right Buttocks</option>
    </optgroup>
</select>