<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="static/progress3.css">
  <script type="text/javascript" src="/static/progress.js"></script>
</head>
<form class="form-horizontal" role="form" method="POST" action="/profile" enctype=multipart/form-data>
    <!-- Upload -->
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">
            Upload Image
        </label>
        <div class="col-sm-10">
            <!-- REQUIRED INPUT FIELD -->
            <input type="file" id="chooseFile" name="photo" accept="image/*" required >
        </div>
    </div>
    <!-- Location -->
    <div class="form-group">
        <label for="inputLocation" class="col-sm-2 control-label">
            Select Body Location
        </label>
        <div class="col-sm-10">
            <!-- REQUIRED INPUT FIELD -->
            {% include "select_location.html" with context %}
        </div>
    </div>
    <!-- Analyze -->
    <div class="form-group">
        <center>
            <input type="submit" id="uploadButton" onclick="move()" value="Analyze">
        </center>
    </div>

    <!-- NOTE1: NEED AN OUTPUT SECTION HERE w/ CLASSIFICATION RESULT -->
    <!-- NOTE2: THIS PROGRESS BAR SHOULD ONLY BE ACTIVATED WHEN ANALZYED BUTTON IS CLICKED -->

    <!-- PROGRESS BAR -->
    <div class="progress">
        <div id="myProgress">
        <div id="myBar"></div>
    </div>
    </div>
</form>
