<!DOCTYPE html>
<!-- This is the DermaGram upload page -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<html>
    <title>DermaGram Upload</title>
    <head>
        <center><h1>DermaGram</h1></center><br>
        <center><h2>Upload Your Image</h2></center>
    </head>
    <body>
        <div>
        <div>
            <center><form id='upload-form' method="POST" enctype=multipart/form-data action="{{ url_for('upload') }}">
                <input type="file" name="photo" accept="image/*" multiple>
                <input type="submit" value="Upload">
            </form><center>
        </div>
        <div>
            <center><a href='/logout'>Logout</a></center>
        </div>
        <div>
          <center><img src="https://cdn.asme.org/getmedia/9904b4d3-1acc-4db5-8f16-be8ed6695c4e/Top-5-Medical-Technology-Innovations_hero.jpg.aspx"
 /></center>
        </div>
    </body>
<html>
