<form class="form-horizontal" role="form" method="POST" action="/profile" enctype=multipart/form-data>
    <!-- Upload -->
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">
            Upload Image
        </label>
        <div class="col-sm-10">
            <!-- REQUIRED INPUT FIELD -->
            <input type="file" id="chooseFile" name="photo" accept="image/*" required >
        </div>
    </div>
    <!-- Location -->
    <div class="form-group">
        <label for="inputLocation" class="col-sm-2 control-label">
            Select Body Location
        </label>
        <div class="col-sm-10">
            <!-- REQUIRED INPUT FIELD -->
            {% include "select_location.html" with context %}
        </div>
    </div>
    <!-- Analyze -->
    <div class="form-group">
        <center>
            <input type="submit" id="uploadButton" value="Analyze" >
        </center>
    </div>

    <!-- NOTE1: NEED AN OUTPUT SECTION HERE w/ CLASSIFICATION RESULT -->
    <!-- NOTE2: THIS PROGRESS BAR SHOULD ONLY BE ACTIVATED WHEN ANALZYED BUTTON IS CLICKED -->

    <!-- PROGRESS BAR -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
         40%
        </div>
    </div>
</form>
