<link rel="stylesheet" href="/static/style.css" type="text/css">
<html>
    <title>Sign Up</title>
    <head>
        <center><h1>Sign Up</h1></center>
    </head>
    <body>
        <form action='/signup' method='POST' align="center">
            First name:<br>
            <input type="text" name='firstname'><br>
            Last name:<br>
            <input type="text" name='lastname'><br>
            User name:<br>
            <input type="text" name='username'><br>
            Email Address:<br>
            <input type="email" name='email'><br>
            Password:<br>
            <input type="password" name='password'><br>
            Re-enter Password:<br>
            <input type="password" name='password2'><br>
            <input type="submit">
        </form>
    </body>
<html>